body {
  background: #cfcfcf;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.controles {
  text-align: center;
  margin-bottom: 20px;
}

.controles select,
.controles button {
  padding: 8px 12px;
  margin: 0 5px;
}

.hoja-a4 {
  width: 210mm;
  height: 297mm;
  background: white;
  margin: auto;
  box-shadow: 0 0 12px rgba(0,0,0,.3);
  position: relative;
  color: #0a2d5a;
}

/* ENCABEZADO */
.encabezado {
  height: 40mm;
  background: linear-gradient(to right, #0a2d5a, #3c8cdc);
  color: white;
  padding: 20px;
}

.encabezado h1 {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 35px;
  text-align: center;
}

.subtitulo {
  margin-top: 10px;
}

/* DATOS */
.datos {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.cliente,
.empresa {
  width: 50%;
}

.empresa {
  text-align: right;
}

textarea {
  width: 100%;
  border: none;
  resize: none;
  overflow: hidden;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 5px;
}

/* TABLA */
.bloque-tabla {
  padding: 0 20px;
}

.tabla {
  width: 100%;
  border-collapse: collapse;
}

.tabla th,
.tabla td {
  border: 1px solid #0a2d5a;
  padding: 8px;
}

.tabla th {
  background: #0a2d5a;
  color: white;
}

.tabla td:first-child {
  width: 70%;
}

.tabla td:last-child {
  width: 30%;
}

/* TOTALES */
.totales {
  width: 45%;
  margin-left: auto;
  margin: 20px;
}

.totales div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}

.totales span:first-child {
  background: #0a2d5a;
  color: white;
  padding: 6px;
  width: 50%;
}

.total span {
  font-weight: bold;
}

/* PIE */
.pie {
  height: 15mm;
  background: linear-gradient(to right, #0a2d5a, #3c8cdc);
  position: absolute;
  bottom: 0;
  width: 100%;
}
